html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
h1,
h2 {
  margin: 10px;
}

.container {
  width: 100%;
  height: calc(100vh - 38px);
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-size: cover;
  background-image: url("utils/background.png");
}

.bug {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
}

.headerContainer {
  background: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.gameOverContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #3982a7;
  color: white;
  flex-direction: column;
}

.btn {
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
